@import 'mixins';
@import 'variables';

@import 'components/primary-nav/primary-nav';
@import 'components/page-wrapper/page-wrapper';
@import 'components/primary-nav/primary-nav';
@import 'components/page-header/page-header';
@import 'components/cards/cards';
@import 'components/card/card';



*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px;
}

body {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
}

ul {
    padding: 0;
    margin: 0;
}

